div.label.label-primary {
	font-size: 14px !important;
	padding-left: 30px;
}

div.label.label-primary > label.song {
	margin-left: -15px !important;
}

button.btn.btn-icon.btn-rounded {
	border-radius: 2em !important;
	padding: 6px 14px !important;
}

div.sidebar-inner {
    max-height: 457px;
	overflow-y: auto;
    overflow-x: hidden;
}